﻿@model Prueba05Inventory.Models.InformacionUsuarios
@{
    ViewBag.Title = "CrearUsuario";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";

}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Crear Usuario</h1>
<div class="container">
    <div class="card">
        <div class="card-body md-4">
            <form action="CrearUsuario" method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">DNI</label>
                        @Html.EditorFor(model => model.personas.DNI, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Correo</label>
                        @Html.EditorFor(model => model.personas.correo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Nombre</label>
                        @Html.EditorFor(model => model.personas.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Apellidos</label>
                        @Html.EditorFor(model => model.personas.apellidos, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Celular</label>
                        @Html.EditorFor(model => model.personas.celular, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Direccion</label>
                        @Html.EditorFor(model => model.personas.direccion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Nombre de usuario</label>
                        @Html.EditorFor(model => model.usuarios.username, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Contraseña</label>
                        @Html.EditorFor(model => model.usuarios.password, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Tipo de usuario</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                            </div>
                            @Html.DropDownListFor(model => model.usuarios.tipo_usuario_id, (IEnumerable<SelectListItem>)ViewBag.Tipos, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="submit" class="btn btn-primary">Cancelar</button>
            </form>
        </div>
    </div>
</div>

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Usuario creado correctamente!');
        } else {
            alertify.success('Error al crear el Usuario');
        }
    </script>
}

@section Scripts {

    <script type="text/javascript">
        $('#personas_DNI').change(function () {
            var selection = $('#personas_DNI').val();
            if (selection.length == 8) {
                $.post("/User/ObtenerDNI", { dni: selection },
                    function (data) {
                        var content = JSON.parse(data);
                        $('#personas_nombre').val(content.nombres)
                        $('#personas_apellidos').val(content.apellidoPaterno + ' ' + content.apellidoMaterno)
                        //$('#personas_nombre').val('Ola')
                    })
                //$('#personas_nombre').val('Ola')
            }
        });
                /*function ObtenerDNI() {
        var x = document.getElementById("personas_DNI").value;
        alert(x);
}*/
    </script>

}
