﻿@model IEnumerable<Prueba05Inventory.Datos.Usuarios>
@{
    ViewBag.Title = "ListarUsuario";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Lista de usuarios</h1>

<table class="table table-hover" id="dataTable">
    <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Tipo de usuario</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @{
                    if (item.usuario_id == int.Parse(Session["UsuarioID"].ToString()))
                    {
                        @Html.DisplayFor(modelItem => item.password)
                    }
                    else
                    {
                        <a>********</a>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiposUsuarios.tipo)
            </td>
            <td>
                @{
                    if (item.usuario_id == int.Parse(Session["UsuarioID"].ToString()))
                    {
                        <a href="@Url.Action("ModificarUsuario", "User", new { id = item.usuario_id})" class="btn btn-primary btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span class="text">Editar</span>
                        </a>
                        <a href="@Url.Action("EliminarUsuario", "User", new { id = item.usuario_id})" class="btn btn-danger btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text">Borrar</span>
                        </a>
                    }
                }

            </td>
        </tr>
        }
    </tbody>
</table>

