﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inventory Factor</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/SB-Admin/all.min.css" rel="stylesheet" />
    <link href="~/Content/SB-Admin/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/DataTable/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- include the style -->
    <link rel="stylesheet" href="~/Content/alertifyjs/alertify.min.css" />
    <!-- include a theme -->
    <link rel="stylesheet" href="~/Content/alertifyjs/themes/default.min.css" />

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Inventory Factor</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tablero</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Acciones
            </div>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Componentes</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Componentes:</h6>
                        <a class="collapse-item" href="/Component/ListarComponente">Listar Componentes</a>
                        <a class="collapse-item" href="/Component/CrearComponente">Crear Componente</a>
                    </div>
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Categorias:</h6>
                        <a class="collapse-item" href="/ComponentCategory/Index">Listar Categorias</a>
                        <a class="collapse-item" href="/ComponentCategory/CrearCategoria">Crear Categoria</a>
                    </div>
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tipos:</h6>
                        <a class="collapse-item" href="/ComponentType/Index">Listar Tipos</a>
                        <a class="collapse-item" href="/ComponentType/CrearTipo">Crear Tipos</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Utilities Collapse Menu -->
            @{
                if (User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Usuarios</span>
                        </a>
                        <div id="collapseUsers" class="collapse" aria-labelledby="headingUsers" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Usuarios:</h6>
                                <a class="collapse-item" href="/User/ListarUsuario">Listar Usuarios</a>
                                <a class="collapse-item" href="/User/CrearUsuario">Crear Usuarios</a>
                            </div>
                        </div>
                    </li>
                }
            }

            <!-- Divider -->
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Reportes
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMovement" aria-expanded="true" aria-controls="collapseMovement">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Movimientos</span>
                </a>
                <div id="collapseMovement" class="collapse" aria-labelledby="headingMovement" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Movimientos:</h6>
                        <a class="collapse-item" href="/Movement/ListarMovimiento">Listar Movimientos</a>
                        <a class="collapse-item" href="/Movement/Componente">Crear Movimiento</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <div>
                        <a href="/Home/Nosotros" class="d-none d-sm-inline-block btn btn-sm btn-primary">Acerca de nosotros</a>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        @{
                            /*string persona = "";
                            foreach (var id in Model)
                            {
                                persona = id.Nombre + id.Apellidos;
                            }
                            ViewBag.Nombre = persona;*/

                        }

                        <!-- ACA SE CORTO -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">

                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuracion
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesion
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; InventoryFactor - 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿En verdad quiere salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/Login/Logout">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Estilos de la Pagina y funcionamiento -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/SB-Admin/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/SB-Admin/jquery.easing.min.js"></script>
    <script src="~/Scripts/SB-Admin/sb-admin-2.min.js"></script>

    <!-- Graficos de la pagina -->
    <script src="~/Scripts/Graficos/Chart.min.js"></script>
    <script src="~/Scripts/Graficos/chart-area-demo.js"></script>
    <script src="~/Scripts/Graficos/chart-pie-demo.js"></script>

    <!-- Datos de la pagina -->
    <script src="~/Scripts/DataTable/datatables-demo.js"></script>
    <script src="~/Scripts/DataTable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>

    <script src="~/Scripts/alertify.min.js"></script>

    @RenderSection("Scripts", false)
    @RenderSection("Scripts2", false)

    <!--Agregamos los mensajes de que se creo correctamente, modifico -->
    @RenderSection("Mensajes", false)
</body>
</html>
