﻿
@{
    ViewBag.Title = "CreateTypeComponent";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Crear Tipo</h1>

<div class="card">
    <div class="card-body md-4">
        <form action="CrearTipo" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputtext">Tipo</label>
                    <input type="text" class="form-control" id="inputEmail4" name="tipo" required="required">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
            <a href="Index" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</div>

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Tipo creado correctamente!');
        } else {
            alertify.error('Error al crear el Tipo');
        }
    </script>
}