﻿@model Prueba05Inventory.Datos.TipoComponente
@{
    ViewBag.Title = "UpdateTypeComponent";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Actualizar Tipo</h1>

<div class="card">
    <div class="card-body md-4">
        @using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputtext">Tipo</label>
                    @Html.HiddenFor(model => model.tipo_componente_id)
                    @Html.EditorFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="/ComponentType/Index" class="btn btn-primary">Cancelar</a>
        }
    </div>
</div>

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Tipo modificado correctamente!');
        } else {
            alertify.error('Error al modificar el Tipo');
        }
    </script>
}