﻿@model IEnumerable<Prueba05Inventory.Datos.CategoriaComponente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-2 text-gray-800">Categorias de Componentes</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Categoria</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.categoria)
                        </td>

                        <td>
                            <a href="@Url.Action("ModificarCategoria", "ComponentCategory", new { id = item.categoria_componente_id })" class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Editar</span>
                            </a>
                            <a href="@Url.Action("EliminarCategoria", "ComponentCategory", new { id = item.categoria_componente_id })" class="btn btn-danger btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                        </td>

                    </tr>
                }
            </table>

        </div>
    </div>
</div>
