﻿@model Prueba05Inventory.Datos.CategoriaComponente
@{
    ViewBag.Title = "UpdateCategoryComponent";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Actualizar Categoria @ViewBag.Nombre</h1>

<div class="card">
    <div class="card-body md-4">
        @using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="form-group col-md-4">
                    @Html.HiddenFor(model => model.categoria_componente_id)
                    @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.categoria)
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="/ComponentCategory/Index" class="btn btn-primary">Cancelar</a>
        }
    </div>
</div>

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Categoria modificada correctamente!');
        } else {
            alertify.error('Error al modificar la Categoria');
        }
    </script>
}