﻿@model Prueba05Inventory.Datos.Usuarios

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/SB-Admin/all.min.css" rel="stylesheet" />
    <link href="~/Content/SB-Admin/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    </div>
                                    <!-- using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { class = "user" })) -->

                                    <!-- form method="post" class="user" action="Login">
                                        <div class="user">
                                            <p style="color: red">ViewBag.Error</p>
                                            <div class="form-group">
                                                Html.EditorFor(model => model.username, new { htmlAttributes = new { class = "form-control form-control-user", placeholder = "Username" } })
                                            </div>
                                            <div class="form-group">
                                                Html.PasswordFor(model => model.password, new { class = "form-control form-control-user", placeholder = "Password" })
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Recordarme</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Iniciar Sesion</button>
                                            <hr>
                                        </div>
                                        <hr />
                                    </form> -->

                                    @using (Html.BeginForm("Login","Login", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class="user" }))
                                    {
                                        <div class="user">
                                            <p style="color: red">@ViewBag.Error</p>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Usuario" } })
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(model => model.password, new { @class = "form-control form-control-user", placeholder = "Contraseña" })
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Recordarme</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Iniciar Sesion</button>
                                            <hr>
                                        </div>
                                    }

                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/SB-Admin/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/SB-Admin/jquery.easing.min.js"></script>
    <script src="~/Scripts/SB-Admin/sb-admin-2.min.js"></script>
</body>
</html>

