﻿
@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- Page Heading -->

<h1>Nosotros <span class="badge badge-secondary">Inventory Factor</span></h1>

<table>
    <tbody>
        <tr>
            <th>
                <div class="container">
                    Inventory Factor es un proyecto destinado a empresas o negocios del campo electronico o informatico, destinados a mejorar su inventario
                    de ingreso y salida de productos y/o componentes electronicos, con lo cual esto empieza con la creacion de componentes que a continuacion formaran parte de
                    un producto y a continuacion se procedera a formarse un producto o si bien se podra
                    realizar la compra de componentes si se ve necesario para finalmente la creacion de un reporte la suma de cada Componente
                    o producto.
                </div>
            </th>
            <td>
                <div class="container-fluid">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://www.master-finanzas-cuantitativas.com/wp-content/uploads/2018/05/Razones-para-estudiar-un-maste-en-finanzas-cuantitativas-.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="http://www.esan.edu.pe/apuntes-empresariales/2016/06/24/inventariocalidad_principal.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://hardzone.es/app/uploads-hardzone.es/2018/12/PC-Gamer-01.jpg" alt="Third slide">
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <td></td>
</table>
<td></td>
<td></td>
<h1 class="h3 mb-4 text-gray-800">Integrantes</h1>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Calvo Guzmán, Victor Alejandro</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Coloma Linares, Yurand Jorge</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Huanca Huarachi, Bladimir Alberto</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lozano Ramos, Rene Edgar</h5>
        </div>
    </div>
</div>

<br>
<br>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Huarachi Gonzales, Luis Angel</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ramos Chullunquia, Toni Cesar</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Villegas Condori, Gerardo Josue</h5>
        </div>
    </div>
</div>
