﻿@model Prueba05Inventory.Models.InformacionComponentes
@{
    ViewBag.Title = "CrearComponente";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Crear Componente</h1>
<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-body md-4">
                @using (Html.BeginForm("CrearComponente", "Component", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Nombre</label>
                            @Html.EditorFor(model => model.componentes.nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputPassword4">Descripcion</label>
                            @Html.EditorFor(model => model.componentes.descripcion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Precio</label>
                            @Html.EditorFor(model => model.componentes.precio, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Tipo de componente</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                                </div>
                                @Html.DropDownListFor(model => model.componentes.tipo_componente_id, (IEnumerable<SelectListItem>)ViewBag.TipoComponente, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Cantidad</label>
                            @Html.EditorFor(model => model.componentes.stock, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Categoria de componente</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                                </div>
                                @Html.DropDownListFor(model => model.componentes.categoria_componente_id, (IEnumerable<SelectListItem>)ViewBag.CategoriaComponente, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="exampleFormControlFile1">Cargar Imagen:</label>
                            <input type="file" class="form-control-file" name="imagenComponente" required="required">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a href="ListarComponente" class="btn btn-primary">Cancelar</a>
                }
            </div>
        </div>


    </div>
</div>

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Componente creado correctamente!');
        } else {
            alertify.error('Error al crear el Componente');
        }
    </script>
}