﻿@model IEnumerable<Prueba05Inventory.Datos.Componentes>
@{
    ViewBag.Title = "ListarComponente";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="h3 mb-2 text-gray-800">Componentes</h1>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Tipo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@Url.Action("ConvertirImagen","Component", new { id = item.componente_id })" width="80%" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaComponente.categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoComponente.tipo)
                        </td>

                        <td>
                            <a href="@Url.Action("ModificarComponente", "Component", new { id = item.componente_id })" class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Editar</span>
                            </a>
                            <a href="@Url.Action("EliminarComponente", "Component", new { id = item.componente_id })" class="btn btn-danger btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Eliminar</span>
                            </a>
                        </td>

                    </tr>
                }
            </table>

        </div>
    </div>
</div>

