﻿@model Prueba05Inventory.Models.MovimientoComponentes
@{
    ViewBag.Title = "Componente";
    Layout = "~/Views/XLayout/_LayoutHome.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Movimientos</h1>
<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-body md-4">
                @using (Html.BeginForm("Componente", "Movement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Cantidad</label>
                            @Html.EditorFor(model => model.cabecerasComponentes.cantidad, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Componente</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Nombre</label>
                                </div>
                                @Html.DropDownListFor(model => model.componente_id, (IEnumerable<SelectListItem>)ViewBag.Componente, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Tipo de Accion</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
                                </div>
                                @Html.DropDownListFor(model => model.tipo_movimiento_id, (IEnumerable<SelectListItem>)ViewBag.TipoMovimiento, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-4" id="nro_ruc" style="display:none">
                            <label for="inputEmail4">NRO SERIE</label>
                            @Html.EditorFor(model => model.cabecerasComponentes.nro_ruc, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Crear</button>
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                }
            </div>
        </div>


    </div>
</div>

@section Scripts2 {

    <script type="text/javascript">
        $('#tipo_movimiento_id').change(function () {
            var selection = $('#tipo_movimiento_id').val();
            if (selection == 33) {
                $('#nro_ruc').css('display', 'none');
            } else {
                $('#nro_ruc').css('display', 'block');
            }
            //alert(selection);
        });
    </script>

}

@section Mensajes {
    <script type="text/javascript">
        if (@ViewBag.Estado == 1) {
            alertify.success('Movimiento creado correctamente!');
        } else {
            alertify.error('Error al crear el Movimiento');
        }
    </script>
}